---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* Custom ClustrMaps Sizing */
.clustrmaps-container {
  max-width: 300px; /* Adjust this value to your desired width (e.g., 200px, 400px) */
  margin: 0 auto;   /* This centers the map on the page */
  padding-top: 20px; /* Add some space above it if needed */
}

/* Target the map image directly for better control */
.clustrmaps-container img {
  max-width: 100%; /* Ensures the image scales down within its container */
  height: auto;
}
